In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.3.1'

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [7]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [9]:
print(len(df))

9704

In [12]:
df['fuel_type'].nunique()

2

In [20]:
missing_per_column = df.isnull().sum()
print(missing_per_column)

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [19]:
asian_cars = df[df['origin'] == 'Asia']
max_efficiency = asian_cars['fuel_efficiency_mpg'].max()
print(max_efficiency)

23.759122836520497

In [21]:
median_before = df['horsepower'].median()
print("Median before filling missing values:", median_before)

Median before filling missing values: 149.0

In [22]:
most_frequent = df['horsepower'].mode()[0]
print("Most frequent value:", most_frequent)

Most frequent value: 152.0

In [23]:
df['horsepower'].fillna(most_frequent, inplace=True)

/tmp/ipykernel_18468/233189276.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horsepower'].fillna(most_frequent, inplace=True)

In [24]:
median_after = df['horsepower'].median()
print("Median after filling missing values:", median_after)

Median after filling missing values: 152.0

In [25]:
import pandas as pd
import numpy as np


asian_cars = df[df['origin'] == 'Asia']

selected_cols = asian_cars[['vehicle_weight', 'model_year']]
first_7 = selected_cols.head(7)
X = first_7.to_numpy()

XTX = X.T @ X

XTX_inv = np.linalg.inv(XTX)

y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

w = XTX_inv @ X.T @ y

sum_w = np.sum(w)

print("w:", w)
print("Sum of elements in w:", sum_w)

w: [0.01386421 0.5049067 ]
Sum of elements in w: 0.5187709081074016